.swiper-container {
  width: 100%;
  height: 40vh;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(black, 0.5);
  }
  img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    position: relative;
  }
  .text {
    opacity: 0;
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 1;
    color: $--clr-white;
    transition: $--transition;
    p {
      display: none;
    }
  }
  &:hover {
    &::after {
      background-color: rgba(black, 0.8);
    }
    .text {
      opacity: 1;
      p {
        margin-top: 20px;
        display: block;
      }
    }
  }
}

.swiper-button-next,
.swiper-button-prev {
  background-image: none !important;

  span {
    visibility: visible;
    position: absolute;
    top: 5px;
    left: 10px;
    font-size: 30px;
  }

  color: $--clr-orange;
  background-color: rgba($--clr-red, 0.5);
  color: $--clr-white;
  padding: 20px;
  margin-top: 20px;
  font-size: 14px;
  @media (max-width: $--tablet-width) {
    margin-top: 10px;
  }
  @media (max-width: $--mobile-width) {
    margin-top: 25px;
  }
  &:hover {
    background-color: $--clr-red;
  }
}
.swiper-button-next,
.swiper-container-rtl .swiper-button-prev {
  right: 46%;
  @media (max-width: $--swiper-breakpoint-tablet) {
    right: 40%;
  }
  @media (max-width: $--swiper-breakpoint-mobile) {
    right: 35%;
  }
}

.swiper-button-prev,
.swiper-container-rtl .swiper-button-next {
  left: 46%;
  @media (max-widht: $--swiper-breakpoint-tablet) {
    left: 40%;
  }
  @media (max-width: $--swiper-breakpoint-mobile) {
    left: 35%;
  }
}
.swiper-button-next:after,
.swiper-button-prev:after {
  font-size: 20px;
}
