// fonts
@font-face {
  font-family: "DroidSans-Bold";
  src: url(../fonts/DroidSans-Bold.ttf);
}
@font-face {
  font-family: "DroidSans";
  src: url(../fonts/DroidSans.ttf);
}
@font-face {
  font-family: "Lato-Bold";
  src: url(../fonts/Lato-Bold.ttf);
}
@font-face {
  font-family: "Lato-Light";
  src: url(../fonts/Lato-Light.ttf);
}
@font-face {
  font-family: "Lato-Regular";
  src: url(../fonts/Lato-Regular.ttf);
}
@font-face {
  font-family: "Lato-RegularItalic";
  src: url(../fonts/Lato-RegularItalic.ttf);
}
@font-face {
  font-family: "Quicksand-Bold";
  src: url(../fonts/Quicksand-Bold.otf);
}
