// var
$--clr-orange: #fe992a;
$--clr-red: #e56c69;
$--clr-white: #fff;
$--clr-text-gray: #737c85;

$--container-width: 1020px;
$--mobile-width: 630px;
$--tablet-width: 768px;

$--swiper-breakpoint-tablet: 1000px;
$--swiper-breakpoint-mobile: 540px;
